<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
      
<head>
	<title>Sprints</title>
	<script type="text/javascript" py:choose="">
	  $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
</head>
<body>
<h1>Sprint Burndown</h1>

<div py:if="milestones">
    <h2>Milestones</h2>
    <p>Pick from the available milestones:</p>
    <ul>
        <py:for each="stone in milestones">
            <li><a href="?milestone=${stone.name}">$stone.name ($stone.count)</a></li>
        </py:for>
    </ul>

</div>


<div py:if="devs" class="sprints">
    <a href="burndown">Back</a>
    <h2>Showing Milestone: $title</h2>
    <div py:if="noWork">
        <p><strong><em>There are no valid tickets open for this milestone.</em></strong></p>
    </div>
    <div py:if="hasWork">

        <h2>Milestone Total</h2>
        <div class="bar-wrapper" style="width: ${barWidth}px">
            <py:for each="tot in totals">
                <div class="bar-item" style="background-color: ${tot.color}; width: ${tot.width}%;"></div>
            </py:for>
        </div>
        <ul>
            <py:for each="tot in totals">
                <li><span class="legend" style="background-color: ${tot.color};"></span><a href="query?status=${tot.status}&amp;milestone=${title}">${tot.status} (${tot.count})</a></li>
            </py:for>
        </ul>
        <div>
            <py:for each="devtot in dev_totals">
                <h3>$devtot.username</h3>
                <div class="bar-wrapper" style="width: ${barWidth}px">
                    <py:for each="dtot in devtot.totals">
                        <div class="bar-item" style="background-color: ${dtot.color}; width: ${dtot.width}%;"></div>
                    </py:for>
                </div>
                <ul>
                    <py:for each="dtot in devtot.totals">
                        <li><span class="legend" style="background-color: ${dtot.color};"></span><a href="query?status=${dtot.status}&amp;owner=${devtot.username}&amp;milestone=${title}">${dtot.status} (${dtot.count})</a></li>
                    </py:for>
                </ul>
            </py:for>
        </div>


        <!--div class="yui-gb">
            <div class="yui-u first">
            </div>
            <div class="yui-u">
            </div>
            <div class="yui-u">
            </div>
        </div-->
    </div>
</div>
</body>
</html>    
