<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
      
<head>
	<title>Sprints</title>
	<script type="text/javascript" py:choose="">
	  $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
</head>
<body>
<h1>Dav was here</h1>

<h2>Milestones</h2>
<ul>
    <py:for each="stone in milestones">
        <li>$stone</li>
    </py:for>
</ul>

<h2>Users</h2>
<ul>
    <py:for each="dev in devs">
        <li>$dev.username</li>
    </py:for>
</ul>

<h2>Totals</h2>
<ul>
    <py:for each="total in totals">
        <li>$total.status ($total.count) : ($total.percent)</li>
    </py:for>
</ul>
<div style="width: 110px; height: 25px; position: relative;">
    <py:for each="total in totals">
        <div style="width: ${total.percent}px; height: 25px; border: 1px solid black; float: left; background-color: ${total.color}"></div>
    </py:for>
</div>
</body>
</html>    
